<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="styles/register_user_profile.css" rel="stylesheet">
    <script src="js/register_user_profile.js"></script>
</head>
<body onload="processPageLoad()">
    <div class="wrapper">
        <div class="register-lable">Регистрация</div>
        <div class="register-form">
            <form action="/register_user_profile.php" method="post">
                <div class="lable">Имя пользователя:</div>
                <input type="text" class="textbox" id="loginTextBox" oninput="processTextChange()" name="login">
                <div class="lable">Пароль:</div>
                <input type="password" class="textbox" id="passwordTextBox" oninput="processTextChange()" name="password">
                <div class="control-wrapper">
                    <input type="submit" class="button" value="Зарегистрироваться" disabled="disabled" id="registerButton">
                </div>
                <div class="error-lable">{{errorMessage}}</div>
            </form>
        </div>
    </div>
</body>
</html>