.wrapper {
}

.logo {
    width: 100%;
    font-size: calc(28px + 0.5vw);
    text-align:center;
    font-family: "Arial";
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(211, 211, 211)), color-stop(1, rgb(255, 255, 255)));
}

.block {
    width: 100%;
    margin-top: 10px;
    font-size: calc(12px + 0.5vw);
    font-family: "Arial";
    background-color: #ededed;overflow: auto;
}

.control-wrapper {
    min-width: 20%;
    max-width: 40%;
    margin-bottom: 5px;
}

.control {
    min-width: 100%;
    max-width: 100%;
}

.error-message {
    color: red;
}

.table {
    display: table;
    min-width: 100%;
    max-width: 100%;
    font-size: calc(12px + 0.5vw);
    font-family: "Arial";

}

.table-header {
    display: table-row;
    font-weight: bold;
    background-color: rgb(224, 224, 224);
}

.table-row-odd {
    display: table-row;
    background-color: #ffffff;
}

.table-row-even {
    display: table-row;
    background-color: #f5f5f5;
}

.table-row-new {
    display: table-row;
    background-color: aquamarine;
}

.table-cell{
    display: table-cell;
    min-width: 50%;
    padding: 10px;
}
